.container {
  display: grid;
  grid-template-rows: auto;
}

/* add a border  */
.header {
  /* border: 10px; */
  grid-template-columns: auto;
  border-color: fuchsia;
  border-style: solid;
}
